.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--card-bg);
  border-radius: 6px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);

  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease;

  &:hover {
    box-shadow: 0 4px 12px var(--card-shadow);
  }

  @media (max-width: 640px) {
    flex-direction: column;
    padding: 0.75rem;
  }
}
.entryInfo {
  flex: 1;

  @media (max-width: 640px) {
    margin-bottom: 0.75rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 0.5rem;
  }
  // margin-bottom: 0.5rem;
}

.title {
  font-weight: bold;
  color: var(--primary-color);

  @media (max-width: 640px) {
    font-size: 0.95rem;
  }
}

.date {
  font-size: 0.85rem;
  color: var(--date-text-color);
  margin-bottom: 0.25rem;

  @media (max-width: 640px) {
    font-size: 0.8rem;
  }
}

.content {
  font-size: 0.875rem;
  color: var(--text-color);
  margin-top: 0.25rem;

  @media (max-width: 640px) {
    font-size: 0.825rem;
  }
}

.tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondary-bg);
  color: var(--tag-text-color);
  border-radius: 0.25rem;

  @media (max-width: 640px) {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
  }
}

.entry_actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;

  @media (max-width: 640px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
  }
}

.mood_label {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @media (max-width: 640px) {
    gap: 0.2rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: 640px) {
    flex-direction: row;
    gap: 0.5rem;
  }
}

.button {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  background-color: var(--card-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--secondary-bg);
  }

  @media (max-width: 640px) {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;

    background-color: #fff;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.1s ease;

    &:hover {
      background-color: #f9fafb;
      transform: translateY(-1px);
    }
  }
}

.deleteButton {
  color: var(--error-color);
  border-color: var(--error-color); // text-red-600

  &:hover {
    background-color: rgba(248, 113, 113, 0.2);
    transform: translateY(-1px);
  }
}
