.journal_moods {
  display: flex;
  gap: 0.5rem;
}

.journal_mood_btn {
  padding: 0.25rem 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #dbeafe;
  }

  &.active {
    background-color: #dbeafe;
  }
}
